@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  width: 1920px;
  font-family: -apple-system, BlinkMacSystemFont, "Golos", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .main-section {
  margin: 0 auto;
  width: 1820px;
  border: 1px solid red;
} */

.header {
  /* max-width: 1920px;
  max-height: 960px; */
  padding-left: 175px;
  padding-top: 99px;
  padding-bottom: 100px;
  position: relative;
}
.header-bg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 1760px;
  min-height: 680px;
  overflow: hidden;
  border-radius: 25px 0 0 25px;
  background-color: #7b72fe;
}
.header-title-block {
  position: absolute;
  z-index: 999;

  padding: 67px 0 66px 95px;

  /* padding-right: 800px; */
  font-weight: 600;
  color: #ffffff;
}

.h1-title {
  font-size: 54px;
  line-height: 130%;
  /* or 70px */
  letter-spacing: 0.01em;
  word-wrap: break-word;
  white-space: initial;
}

.header-subtitle {
  width: 747px;
  margin-top: 40px;
  font-size: 30px;
  line-height: 140%;
  /* or 42px */
  letter-spacing: 0.005em;
}
.header-subtitle-description {
  margin-top: 20px;
  width: 699px;
  height: 81px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 0.005em;
}
.button-header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 28px 40px;

  background: #ed7138;
  border-radius: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}
.circles-block {
  position: relative;
  margin-bottom: -33px;
  align-self: start;
  padding-left: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.circles {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  margin: 0 5px;
  background: #746bf4;
}
.block-dots {
  position: absolute;
  z-index: 999;
  width: 190px;
  height: 190px;
  display: flex;
  flex-wrap: wrap;
}
.block-dots.up {
  left: 1088px;
  top: 168px;
}
.block-dots.down {
  top: 669px;
  left: 78px;
}
.dots {
  margin: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
}
.button-exel {
  cursor: pointer;
  z-index: 99999;
  position: absolute;
  transform: translate(1172%, -182%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  background: #7f76ff;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.07),
    0px 24px 160px rgba(0, 0, 0, 0.05);
  width: 76px;
  height: 76px;
  border-radius: 24px;
}

.exel-animation {
  transform: translate(112%, -100%);
  z-index: 9999;
  position: absolute;
  width: 831px;
  height: 601px;
  background-color: #ffffff;
  opacity: 1;
  transition: 1s;
}
.exel-animation.moveleft {
  opacity: 0;
}
img {
  width: 100%;
  height: 100%;
}

.tooltip-box {
  width: 396px;
  height: 160px;
  position: absolute;
  z-index: 9999;
  transform: translate(222%, -58%);
  padding: 40px 24px 30px 24px;

  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.07),
    0px 24px 160px rgba(0, 0, 0, 0.05);
}
.tooltip-box-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #ed7138;
}
